/* Color theme credit to https://rosepinetheme.com/palette/ingredients/ */
:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-med: #403d52;
    --highlight-high: #524f67;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
}

/* Error messages credit to https://codepen.io/palimadra/pen/OVvbaY */
.info, .success, .warning, .error, .validation {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* div { */
/*     border: 1px solid red; */
/* } */

h1 {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}


/* index.html */

.index-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: max-content;
    gap: 1rem;
}

.index-container .button {
    background-color: var(--surface);
    border: 2px solid var(--overlay);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.index-container .button:hover, .button:focus {
    background-color: var(--highlight-med);
    border-color: var(--highlight-high);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.index-container .button:active {
    background-color: var(--highlight-high);
    border-color: var(--highlight-high);
    transition: none;
}

ul {
    height: 250px;
    color: #000;
    background-color: white;
    overflow-y: scroll;
}


/* user_create.html */

.user-create-container {
    background-color: var(--surface);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px var(--muted);
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: max-content;
}

.user-create-container .form-header {
    margin: 1rem 10vw;
}

.user-create-container form {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
}

.user-create-container label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.user-create-container input[type="text"] {
    border: 2px solid var(--iris);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.user-create-container input[type="submit"] {
    background-color: var(--rose);
    border: none;
    border-radius: 0.5rem;
    color: var(--highlight-low);
    cursor: pointer;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
}


/* waiting_room.html */

.waiting-room-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.waiting-room-container .header {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.waiting-room-container .input-group {
    position: relative;
    width: 80%;
    margin: auto;
}

.waiting-room-container #gameLink {
    background-color: var(--rose);
    border: 1px solid var(--highlight-low);
    border-radius: 1rem;
    font-size: 1.2rem;
    min-width: 20rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 100%;
}

.waiting-room-container #gameLink:focus {
    outline: none;
}

.waiting-room-container .copy-button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
}


/* game_view.html */

.game-view-container {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.game-view-container #board {
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    width: 700px;
}

.game-view-container #chat {
    border: 1px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 350px;
}

.game-view-container #chatMessage {
    background-color: var(--overlay);
    color: var(--text);
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.game-view-container #chatMessage li {
    padding: 0;
}

.game-view-container #message {
    background-color: var(--overlay);
    color: var(--text);
}
