/* Color theme credit to https://rosepinetheme.com/palette/ingredients/ */
:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-med: #403d52;
    --highlight-high: #524f67;
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
    width: 100vw;
}

/* Error messages credit to https://codepen.io/palimadra/pen/OVvbaY */
.info,
.success,
.warning,
.error,
.validation {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* div { */
/*     border: 1px solid red; */
/* } */

h1 {
    font-size: 4rem;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}


