.game-view-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 60vw;
}

#board {
    display: inline-flex;
    flex-basis: 60%;
    flex-grow: 6;
}

.game-interaction-section {
    background-color: var(--overlay);
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    flex-grow: 4;
    height: 36vw;
    max-height: 80vh;
    border: 2px solid var(--highlight-low);
}

.move-history-wrapper {
    background-color: var(--overlay);
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.move-history-wrapper table {
    border-collapse: collapse;
    width: 100%;
}

.move-history-wrapper thead {
    background-color: var(--overlay);
    box-shadow: 0 4px 8px var(--muted);
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
}

.move-history-wrapper tr {
    text-align: center;
}

.move-history-wrapper tr:nth-child(even) {
    background-color: var(--surface);
}

.move-history-wrapper tr:nth-child(odd) {
    background-color: var(--overlay);
}

.move-history-wrapper td {
    border-left: 2px solid var(--muted);
    border-right: 2px solid var(--muted);
    padding: 0.5rem;
}

.game-actions {
    border-top: 2px solid var(--subtle);
    border-bottom: 2px solid var(--subtle);
}

.game-actions button {
    background-color: var(--overlay);
    border-radius: 1rem;
    color: var(--text);
}

ul {
    height: 30%;
    color: #000;
    background-color: white;
    overflow-y: scroll;
}

#chatMessage {
    background-color: var(--overlay);
    color: var(--text);
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#chatMessage li {
    padding: 0;
}

#message {
    background-color: var(--overlay);
    border: 1px solid var(--subtle);
    color: var(--text);
    width: 100%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;

}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}