html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 1.6rem;
}

div {
    border: 1px solid red;
}
