<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %}Chess{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <h1>{% block header %}Chess{% endblock %}</h1>
            {% block content %}
            {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>

