{% extends 'base.html' %}

{% block content %}
<div id="board" style="width: 450px"></div>
<div id="chat" style="width: 700px;">
        <ul id = "chatMessage">
        </ul>
        <input type = "text" id = "message" placeholder = "Send a message!">
</div>
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
<script>var pieceThemePath = "{{ url_for('static', filename='images/chesspieces/wikipedia/') }}{piece}.png"</script>
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='dist/game_view.bundle.js') }}"></script>
<script>
        const socket = io({autoConnect: true});

        document.getElementById("chat").style.display = "block";
        document.getElementById("message").addEventListener("keyup", function (event) {
            if (event.key == "Enter") {
                let message = document.getElementById("message").value;
                console.log(message);
                socket.emit("chat", message);
                document.getElementById("message").value = "";
                
            }
        })

        socket.on("chat", function(data) {
            let ul = document.getElementById("chatMessage");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(data.message));
            ul.appendChild(li);
            ul.scrollTop = ul.scrollHeight;
        })
</script>
{% endblock %}

