{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="index-container">
        <button id="createGameButton">
            Play against a friend
        </button>
        <a href="{{ url_for('todo') }}">
            Play against the computer
        </a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dist/index.bundle.js') }}"></script>
{% endblock %}

