{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="index-container">
        <button id="createGameButton">
            Play against a friend
        </button>
        <a href="{{ url_for('todo') }}">Play against the computer</a>
    </div>
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript">
    document.getElementById("createGameButton").addEventListener("click", function() {
        fetch("games/create/", {
            method: "POST",
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => {
                console.error(error);
            })
    });
    </script>

    

    {% endblock %}
