{% extends 'base.html' %}

{% block content %}
    <div class="index-container">
        <div class="button" id="createGameButton">
            Play against a friend
        </div>
        <div class="button">
            <a href="{{ url_for('todo') }}">Play against the computer</a>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript">
    document.getElementById("createGameButton").addEventListener("click", function() {
        fetch("games/create", {
            method: "POST",
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => {
                console.error(error);
            })
    });
    </script>
    {% endblock %}
