{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_create.css') }}">
{% endblock %}

{% block content %}
    <div class="user-create-container">
        <h2 class="form-header">Choose your username</h2>
        <form action="{{ url_for('users.create') }}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <input type="submit" value="Join">
        </form>
    </div>
{% endblock %}

