{% extends "base.html" %}

{% block content %}
<h2>Waiting for players</h2>
<p>Share this link with your friend to start the game:</p>
<input type="text" value="{{ request.url }}" id="gameLink" readonly>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='dist/waiting_room.bundle.js') }}></script>
{% endblock %}
